

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="home.scss">
</head>

<h1> Your Locker Info <%= @post.id %></h1>

<div class = main>
<h3>Your Locker Number: <%= @post.title %></h3>
<h3>Your Locker Combo: <%= @post.content %></h3>
<a href = '/posts/edit/<%= @post.id %>'><h2>[Edit]</h2></a>
<a href = '/posts/destroy/<%= @post.id %>' data-confirm = 'Are you sure' data/method = 'post'><h2>[Delete]</h2></a>


<a href = '/posts/destroyAll/'><h2>[Delete All Locker Info]</h2></a>
<a href = '/posts/index'><h2>Back to Home</h2></a>
</div>



<h3 >>> Comments: </h3>
<form action = '/comment' method = 'post'>
    <input type = "hidden" name = "post_id" value = "<%= @post.id%>"> 
    <input type = "text" name = "input_comment" >
    <input type = "submit">
</form>

<% @post.comments.each do |comment| %>
Comment:<%= comment.content %>
    <a href = "/comment/ <%= @post.id %> /destroy/ <%= comment.id %>" data-method = "post" data-confirm = "Deleting ... Are you sure">[X]</a>
<% end %>